body {
  background-color: lightblue;
  color: darkgreen;
  font-family: cursive;
}

nav {
  position: sticky;
  top: 0;
  background-color: lightblue;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: darkgreen;
}

nav ul li a:hover {
  color: aquamarine;
  font-weight: bold;
  text-decoration: underline;
}

section {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}
h1,
h2,
h3 {
  font-size: 2em;
  font-weight: bold;
  color: blueviolet;
}
h1#name {
  font-size: 3em;
  color: blue;
  text-align: center;
}

#Experience ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

#Experience li {
  background-color: rgb(82, 147, 165);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 48%;
  display: flex;
  flex-direction: column;
}

#Experience li .job-title {
  font-weight: bold;
  font-size: 1.2em;
}

#Experience li .job-dates {
  color: rgb(23, 17, 197);
  margin-bottom: 10px;
}
#Connect ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#Connect li a {
  text-decoration: none;
  color: darkgreen;
}

#Connect li a:hover {
  color: aquamarine;
  text-decoration: underline;
  font-weight: bold;
}
#Connect li a:hover {
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
}

/*Mobile - first*/

body {
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

section {
  padding: 10px;
}

/*Tablet View*/
@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  section {
    padding: 20px;
  }

  nav ul {
    gap: 30px;
  }

  #Experience ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop View*/
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5em;
  }

  section {
    padding: 30px;
  }

  nav ul {
    gap: 40px;
  }

  #Experience ul {
    grid-template-columns: repeat(3, 1fr);
  }

  #Connect ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
